NODE_ENV=development
PORT=3000
APP_URL=http://localhost:3000
JWT_SECRET=jsonwebtoken2024
JWT_EXPIRATION_IN_MINUTES=120
JWT_ACCESS_EXPIRATION_MINUTES=120
JWT_REFRESH_EXPIRATION_DAYS=30
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM=